:root {
  --dark:#3c59a9;
  --light:#a3a8d4;
  --gray:#ccc;
  --lightgray:#eee;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background: var(--lightgray);
  padding: 0 16px;
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
}






